@mixin clearfix {  //.row::after{       &::after{
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin centrar {//centro absoluto
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    // margin: 0 auto;
}