$color-primary:rgb(68, 38, 204);
$color-primary-light:rgb(199, 40, 172);
$color-primary-dark:#28b485;

$color-white:#ffffff;
$color-grey:grey;
$color-black:#000000;

$default-font-size:1.6rem;













// =====================================
// Vars para el Float Layout
  
$grid-with: 114rem;
$gutter-vertical: 6rem; //gutter es "canal
$gutter-horizontal: 6rem;
$height-bloque: 2rem;

$color-background:paleturquoise;
$color-gutter:rgb(60, 212, 212);
// =====================================
