.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.3rem 3rem;
        display: inline-block;
        border-radius: 2rem;
        transition: all .2s;
    
        position: relative;
        font-size: 1.6rem;
    }
    
    &:hover {
        transform: translateY(-0.4rem); /*El eje y se mueve de arriba hacia abajo*/
        box-shadow: 0px 1rem 2rem rgba($color-black, 0.5);

        &::after {
            transform: scaleX(1.6) scaleY(1.8);
            /* transform: scale(3); */
            opacity: 0;/*Cuando se cumple el estado inicial del hover, se requiere que desaparezca*/
        }
    }
    
    &:active {
        transform: translateY(-0.2rem); /*Está en relación con el estado inicial, no con el hover*/
        background-color: rgba($color-primary, 0.678);
        box-shadow: 0px .5rem 1rem rgba($color-black, 0.2);
        color: $color-white;
    }
    
    &--white {
        background-color: rgba($color-white, 0.601);
        color: $color-black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
        &::after {
            background-color: rgba($color-white, 0.801);
        }
    }

    &--purple {
        background-color: rgba($color-primary, 0.601);
        color: $color-black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
        &::after {
            background-color: rgba($color-white, 0.801);
        }
    }
    
    /* Pseudo elementos (un elemento virtual de un componente, este elemento se puede diseñar)*/
    
    /* Crear un elemento igual al btn, ponerlo detrás de él. */
    &::after {
        content: "";
        display: inline-block;
        height: 100%; /*del btn*/
        width: 100%;
        border-radius: 2rem;
    
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s; /*Inicio del hover (estado inicial antes de "btn:hover::after")*/
    }
    
    &--animated {
        animation: moveFromTop .5s ease-out 1s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-family: 'Bona Nova', serif;
        font-weight: bolder;
        font-size: $default-font-size;
        text-decoration: none;
        color: $color-primary;
        display: inline-block;
        border-bottom: .2rem solid $color-primary;
        padding: .3rem;

        transition: all .5s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 1.5rem rgba($color-black, 0.2);
        transform: translateY(-.2rem);
        border-bottom: .2rem solid $color-primary-light;
    }

    &:active {
        box-shadow: 0 .5rem 1.5rem rgba($color-black, 0.2);
        transform: translateY(-.1rem);
        border-bottom: .2rem solid $color-primary-dark;
        color: $color-primary-dark
    }
}

.btn-text-cara {
        &:link,
        &:visited {
            font-family: 'Bona Nova', serif;
            font-weight: bolder;
            font-size: $default-font-size;
            text-decoration: none;
            color: $color-primary-light;
            display: inline-block;
            border-bottom: .2rem solid $color-primary-light;
            padding: .3rem;
    
            transition: all .5s;
        }
    
        &:hover {
            background-color: $color-primary-dark;
            color: $color-white;
            box-shadow: 0 1rem 1.5rem rgba($color-black, 0.2);
            transform: translateY(-.2rem);
            border-bottom: .2rem solid $color-white;
        }
    
        &:active {
            box-shadow: 0 .5rem 1.5rem rgba($color-black, 0.2);
            transform: translateY(-.1rem);
            border-bottom: .2rem solid $color-primary;
            color: $color-primary;
        }
    }