.composition {
    position: relative;

    &_photo {
        width: 55%;
        box-shadow: 0 1rem 3rem rgba($color-black,30%);
        border-radius: 1rem;
        position: absolute;
        z-index: 1;

        transition: all .5s;
        outline-offset: 1rem;

        @include respond(tab-port) {
            // float: left;
            // position: relative;
            box-shadow: 0 1rem 2.5rem rgba($color-black,25%);
        }
        @include respond(phone) {
            // float: left;
            // position: relative;
            box-shadow: 0 1rem 2rem rgba($color-black,20%);
        }

        &--f1 {
            top:-3rem;
            left: 0;
            
        }

        &--f2 {
            top:5rem;
            right: 4rem;
        }

        &--f3 {
            top:18rem;
            left: 0;
        }

        &--f4 {
            top:26rem;
            right: 4rem;
        }

        &:hover {
            box-shadow: 0 1.5rem 3rem rgba($color-black,40%);
            z-index: 2;
            transform: scale(1.05) translateY(-1rem);

            //para el marco
            outline: .3rem solid $color-primary;
        }
    }

    &:hover &_photo:not(:hover){
        transform: scale(.95);
    }
}