.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-big {
    margin-bottom: 7rem;

    @include respond(tab-land) {
        margin-bottom: 5rem;
    }
    @include respond(phone) {
        margin-bottom: 5rem;
    }
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
    margin-bottom: 2rem !important;
}

.u-margin-top-big {
    margin-top: 7rem !important;

    @include respond(tab-land) {
        margin-bottom: 6rem;
    }
    @include respond(phone) {
        margin-bottom: 5rem;
    }
}

.parpadea {
    animation-name: parpadeo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.u-clase-parpadea {
    font-family: 'Princess Sofia', cursive;
    font-size: 5.5rem;
    font-weight: 100;
    
    display: inline-block; //junta el texto con el background-image
    color: transparent;//para que se vea el color del gradiente
    letter-spacing: .8rem;

    @include respond(tab-port) {
        font-size: 3rem;
    }
}
  
@keyframes parpadeo {  
    0% {
        opacity: 1.0; 
        color: hotpink;
    }
    33% {
        opacity: 1.0; 
        color: aqua;
    }
    67% {
        opacity: 1.0; 
        color:purple;
    }
    100% { 
        opacity: 1.0; 
        color:lime;
    }
}

@keyframes parpadeo1 {  
    0% {
        opacity: 1.0; 
        color: $color-black;
    }
    50% {
        opacity: 1.0; 
        color: rgb(255, 136, 0);
    }
    100% { 
        opacity: 1.0; 
        color:rgb(66, 71, 66);
    }
}

.u-clase-parpadea1 {
    font-family: 'Risque', cursive;
    font-size: 2.7rem;
    font-weight: 100;
    
    display: inline-block; //junta el texto con el background-image
    color: transparent;//para que se vea el color del gradiente
    letter-spacing: .8rem;

    animation-name: parpadeo1;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
  